# Normalize all text files to LF
* text=auto eol=lf

# Unity specific files
*.cs text
*.shader text
*.cginc text

*.unity text
*.prefab text
*.mat text
*.asset text

# Binary files (NO tocar)
*.png binary
*.jpg binary
*.fbx binary
*.mp3 binary
*.wav binary