# Default
* text=auto

# Force LF for code
*.cs text eol=lf
*.shader text eol=lf
*.cginc text eol=lf

# Unity project files
*.sln text eol=lf
*.slnx text eol=lf
*.csproj text eol=lf

# Keep binary files untouched
*.png binary
*.jpg binary
*.fbx binary
*.wav binary
*.mp3 binary